<%- contentFor('content') %>
<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<div>
				<img style=" max-width:50%; max-height:100%;" height="auto" src="./images/adsun-logo.png" alt="ADSUN JSC" srcset="">
			</div>
		</div>
		<div class="col-sm-9">
			<div>
				<h4 class="line-both-side" >
					<span>THƯƠNG HIỆU ADSUN</span> </h4>
				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos dolore magni provident harum debitis
					adipisci molestiae impedit, magnam delectus odio eligendi deleniti iusto consequuntur velit ullam
					laboriosam quas cumque ea?
				</p>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab excepturi soluta libero officia quidem
					possimus quam molestiae, odio illo rem molestias neque vero non maiores consequuntur. Quam iure
					commodi est?
				</p>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-6 border-right">
				<div style="margin: 0 10px;">
					<h5 style="font-weight: bold;">THÔNG TIN TƯ VẤN</h5>
					<hr>
					<div style="text-align: justify;">
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, deleniti? Repudiandae beatae
							molestiae cumque vitae similique deserunt esse architecto ea quis magni laborum voluptatum eos,
							incidunt dolores voluptates pariatur, veritatis quasi quia assumenda rerum iusto sapiente. Omnis
							est labore, placeat voluptatum voluptatem dolorem cupiditate delectus deleniti ullam in
							veritatis enim non tempore vel nisi ipsum nam!</p>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis cupiditate aperiam eius obcaecati
							ad, totam placeat quaerat, perferendis pariatur excepturi libero culpa quisquam doloremque
							quibusdam molestiae aliquid quae id officiis reprehenderit maiores molestias cum, suscipit
							blanditiis deserunt. Distinctio, est obcaecati!</p>
					</div>
				</div>
				
			</div>
			<div class="col-sm-6">
				<div style="margin: 0 10px;">
					<h5 style="font-weight: bold;">WEBSITE QUẢN LÝ</h5>
					<hr>
					<div class="row">
						<div class="col-6 border-right">
							<div style="text-align: justify;">
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, delectus dolore magnam distinctio sit excepturi!</p>
							</div>
						</div>
						<div class="col-6">
							<div style="text-align: justify;">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, hic quibusdam sapiente distinctio minus eum quos. Unde error odio quae suscipit vitae hic accusantium autem?
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<br>
		<h1>HELLO WORLD</h1>
		<h1>ADSUN JSC</h1>
		<!-- <ul  style="color: white;">
			<li class="">
				<a >
					<span class="glyphicon glyphicon-map-marker" style="color: black; font-size: 20px;"></span>
				</a>
			</li>
			<li class="">
				<a >
					<span class="glyphicon glyphicon-earphone" style="color: black; font-size: 20px;"></span>
				</a>
			</li>
			<li class="">
				<a >
					<span class="glyphicon glyphicon-envelope" style="color: black; font-size: 20px;"></span>					
				</a>
			</li>
		</ul> -->
	</div>

</div>